.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  z-index: 100;
}

.pokemon {
  padding-top: 80px;
}

.start__num,
.end__num{
  width: 100%;
  max-width: 110px;
}

.pok__form{
  width: 800px;
}

.form-input{
  width: 170px;
}
